<!-- Page Header Start -->
<div class="container-fluid page-header pt-5 mb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container col-12 text-center pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-white p-5">
                    <h1 class="display-6 text-uppercase mb-3 animated slideInDown">Facilities</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Facilities">Facilities</a></li>
                            <li class="breadcrumb-item" aria-current="page">Facilities</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-fluid service pt-6 pb-6">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 text-uppercase mb-5">Core Features of the Online Help Desk</h1>
        </div>


        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100 h-80" src="~/img/service-1.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                                <h4> Multi-channel Support</h4>
                                <p>
                                    Integrate support via email, chat, social media, phone, etc.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="~/img/service-2.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                            <h4>Analytics & Reporting</h4>
                                <p>
                                    View detailed reports on performance, ticket resolution times, etc.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="~/img/service-3.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                            <h4>Live Chat Support</h4>
                                <p>
                                    Real-time communication between users and support agents.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="~/img/service-4.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                            <h4>Mobile Accessibility</h4>
                                <p>
                                    Help desk access via mobile apps or responsive web design.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="~/img/service-5.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                            <h4>Automated Responses/Chatbots</h4>
                                <p>
                                    Use bots to reply instantly to common questions.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="~/img/service-6.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                            <h4>File Attachments</h4>
                                <p>
                                    Users and agents can upload files related to their issues.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="~/img/service-7.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                            <h4>Priority & SLA Management </h4>
                                <p>
                                    Set ticket priority levels and service level agreements.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="~/img/service-8.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase"></h5>
                            <h4>Email to Ticket Conversion</h4>
                                <p>
                                    Automatically convert support emails into tickets.
                                </p>
                        </div>
                        <a class="btn btn-light px-3" href="@Url.Action("RequestFacility", "Home")">
                            Read More<i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->